$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$darkest-grey: #505050;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$red-dark: #721010;
$white-ice: #f0f0f0;
$white-ice2: #fff2e4;
$white: #ffffff;
$pink: #FF3D71;

//tipos de pokemos

$normal:#aaa67f;
$fighting:#c12239;
$flying:#a891ec;
$poison:#a43e9e;
$ground:#dec16b;
$rock:#b69e31;
$bug:#a7b723;
$ghost:#70559b;
$steel:#b7b9d0;
$fire:#f57d31;
$water:#6493eb;
$grass:#74cb48;
$electric:#f9cf30;
$psychic:#fb5584;
$ice:#9ad6df;
$dragon:#7037ff;
$dark:#75574c;
$fairy:#e69eac;
$unknown:#505050;
$shadow:#505050;

// cores de loteria

$mega: #6BEFA3;
$quina: #8666EF;
$lotofacil: #DD7AC6;
$timemania: #5AAD7D;
$lotomania: #FFAB64;
$diadesorte: #BFAF83;

// banners images

$gamerSmall: url("../images/skills/css3.svg");
$gamerLarge: url("/assets/banner/gamerLarge.jpg");
$camisasLarge: url("/assets/banner/camisasLarge.jpg");
$tenisSmall: url("/assets/banner/tenisSmall.jpg");
$tenisLarge: url("/assets/banner/tenisLarge.jpg");